# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Learn how to create and execute code cells in Jupyter Notebook
- Learn how to create and format markdown cells in Jupyter Notebook
- Understand basic arithmetic operations in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. NumPy (Python)
3. Matplotlib (Python)
4. ggplot2 (R)
5. dplyr (R)

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Ahmad Qadafi